body {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .login-box {
    background: #fff;
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
  }
  
  h1 {
    margin: 0 0 20px;
    font-family: "Rubik", sans-serif;
  }
  
  form {
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #195108;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #1b7d28;
  }
  
  .small {
    font-size: 0.8em;
  }
  