* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--bs-body-font-family);
}

body {
  background-color: #e7ebd6;
  overflow-x: hidden;
  width: 100vw;
}
/* the first title start */
#h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 60px;
}
/* the first title end */
/*  the moving imgs start */
.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.image-container div {
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: wave 1.7s ease-in-out infinite;
}
.image-container div .extern-img {
  height: 50%;
}
.image-container div .col2-img {
  height: 32%;
}
.image-container div .col2-img2 {
  height: 52%;
}
.image-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}
/*  the moving imgs end */
/* the moving imgs animation start */
.wave {
  display: flex;
  justify-content: center;
  height: 100px;
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.image-container div:nth-child(1) {
  animation-delay: 0.1s;
}
.image-container div:nth-child(2) {
  animation-delay: 0.3s;
}
.image-container div:nth-child(3) {
  animation-delay: 0.5s;
}
.image-container div:nth-child(4) {
  animation-delay: 0.7s;
}
.image-container div:nth-child(5) {
  animation-delay: 0.9s;
}
/* the moving imgs animation end */

/*  our mission start */
.ourmission-container {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
.ourmission-col1 {
  height: 622px;
  width: 80%;
  place-items: center;
  display: grid;
  grid-column: 1;
  margin-left: 60px;
}

.ourmission-col2 {
  width: 65%;
  height: 65%;
  display: grid;
  column-gap: 20px;
  row-gap: 5px;

  grid-column: 2;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-right: 60px;
  margin-top: 35px;
  object-fit: cover;
  /* animation */
  position: relative;
  right: -100%;
  transition: right 0.5s ease;
}
.ourmission-col2.show-img {
  right: 0;
}

#capteur {
  margin-top: 80px;
}
.img-pos {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 30px;
}
.ourmission-container .img1-container {
  height: 80%;
  display: grid;
  grid-column: 1;
  grid-row: 1;
}
.ourmission-container .img2-container {
  height: 80%;
  display: grid;
  grid-column: 2;
  grid-row: 1;
}
.ourmission-container .img3-container {
  display: grid;
  grid-area: 2/1/3/3;
}
/*  our mission end */
/*  the bande start */
.bande-container-ex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.bande-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.bande-item {
  display: flex;
  height: 64px;
}

.bande-item img {
  max-width: 100%;
  height: 64px;
  margin-right: 15px;
}
.bande-item p {
  font-size: 14px;
  max-width: 300px;
}
/*  the bande end */
/*  choose us start */
.chooseus-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 80px;
}
#why-us {
  text-align: center;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
}
/*  choose us end */
/* leaders start */
.leaders-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-right: 120px;
}
.profile-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.profile-container div {
  width: 20%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.profile-container div #img {
  border-radius: 50%;
  display: flex;
  height: 200px;
  width: 200px;
}
.profile-container div div {
  display: flex;
  height: 40%;
  width: 100%;
  justify-content: center;
  place-items: center;
}
h4 {
  font-size: 22px;
  width: 100%;

  text-align: center;
}

#social-media-container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  place-items: center;
}
#social-media-container div {
  display: grid;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.social-media-button {
  object-fit: cover;

  transition: filter 0.2s;
}

.social-media-button:hover {
  transform: scale(1.2);
  animation: wave 1.3s ease-in-out infinite;
}
/* leaders end */
/* footer start */
footer {
  background-color: #0c2903;
  color: #e7ebd6;
  padding: 2px 0;
}

.container-footer {
  max-width: 1100px;
  margin: 0 auto;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  width: 670px;
  column-gap: 105px;
}

.col-md-6 {
  width: 48%;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer-p {
  font-size: 16px;
  line-height: 1.5;
}
/* footer end */
/* copyright start */
.copyright {
  font-size: 14px;
  color: #e7ebd6;
  text-align: center;
  width: 100%;
  border-top: 1px solid #e7ebd6;
  margin-trim: 20px;
  display: grid;
}
.div-copyright {
  background-color: #0c2903;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
/* copyright end */
/* backToTopBtn start */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopBtn:hover {
  transform: scale(1.05);
  animation: wave 1.3s ease-in-out infinite;
}
/* backToTopBtn end */
