* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'rubik', sans-serif;
	scroll-behavior: smooth;
}
/*navbar start */
.navbar-nav{
	margin-left:200px;
}

#logo {
	font-size:  45px;
	font-weight: 700;
	color: #195108;
	text-shadow: 0px 2px 2px #ffffff;

}
.nav-item .nav-link {
	font-family: 'Rubik', sans-serif;
	font-size:16 px;
	font-weight:700;
	letter-spacing:2px;
	color: #EC9BAF;
	margin-left : 2rem;
}
.nav-item .nav-link:hover{
	background:#EC9BAF;
	color:#f2f2f2;


}

/*top destinations*/
.destination-box {
    margin-top: 10px;
}
destination-box{
    cursor:pointer;
}
.img-fluid {
    max-height: 400px;
    object-fit: cover;
    width: 80%;
    transition: .2s linear;
   
}
 .img-fluid:hover{
    transform:scale(1.1);
   
}
.destination-box h3 {
    margin-top: 20px;
}

.destination-box p {
    margin-bottom: 0;
    margin-top:10px;
}

.container{
    padding-top:50px; 
    
}
.container h1{
    font-size:16 px;
	font-weight:700;
	letter-spacing:2px;
	color: #195108;
	text-shadow: 0px 2px 2px #ffffff;
    font-size:3rem;
}
.row{
    padding-top:50px;
}





/*footer*/
#footer{
	width:100%;
	margin-top:150px;
	text-align:center;
	background:#f2f2f2;


}
#footer h1{
	font-weight: 600;
	padding-top:30px;
	text-shadow:0px 0px 1px black ;

}
.social-links i{
	padding:10px;
	border-radius:5px;
	font-size:20px;
	color:white;
	margin-left:10px;
	margin-bottom:10px;
	transition: 0.5s ease;
	cursor: pointer;

}
.social-links i:hover{
	background:#EC9BAF;
}