* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubik", sans-serif;
  scroll-behavior: smooth;
  
}
/*navbar start */
.navbar-nav {
  margin-left: 200px;
  ;
}

#logo {
  font-size: 45px;
  font-weight: 700;
  color: #195108;
  text-shadow: 0px 2px 2px #ffffff;
}

.nav-item .nav-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ab1b3f;
  margin-left: 2rem;
}

.nav-item .nav-link:hover {
  background: #ab1b3f;
  color: #f2f2f2;
}
.lien{
  background: #ab1b3f;
  color: #f2f2f2;
  font-size: 20px;
  margin-left: 40%;
  width: 20%;
  height: 15%;
  margin-top: 5%;
}
/*top destinations*/
body {
  background-color: #E7EBD6 !important;
}

.destination-box {
  margin-top: 10px;
}

destination-box {
  cursor: pointer;
  margin-bottom: 200px;

}

.img-fluid {
  max-height: 600px;
  object-fit: cover;
  width: 80%;
  transition: 0.2s linear;
}

.img-fluid:hover {
  transform: scale(1.1);
}

.destination-box h3 {
  margin-top: 20px;
}

.destination-box p {
  margin-bottom: 0;
  margin-top: 10px;
}

.container {
  margin-bottom: 150px;
  margin-top:150px;
}

.container h1 {
  font-size: 16 px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #195108;
  text-shadow: 0px 2px 2px #ffffff;
  font-size: 3rem;
}

.row {
  padding-top: 50px;
}

/* ///////////////////////////// header css ///////////////////////// */
/*navbar start */
.navbar-nav {
  margin-left: 200px;
}

#logo {
  font-size: 45px;
  font-weight: 700;
  color: #195108;
  text-shadow: 0px 2px 2px #ffffff;
}

.nav-item .nav-link {
  font-family: "Rubik", sans-serif;
  font-size: 16 px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ab1b3f;
  margin-left: 2rem;
}

.nav-item .nav-link:hover {
  background: #ab1b3f;
  color: #f2f2f2;
}

/*navbar end */
/* //////////////////////////////////header css ends/////////////////////////////// */

/* ////////////////////////////////// footer css begins ////////////// */
footer {
  background-color: #0c2903;
  color: #e7ebd6;
  padding: 2px 0;
}

.bande-container-ex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container-footer {
  max-width: 1100px;
  margin: 0 auto;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  width: 670px;
  column-gap: 105px;
}

.col-md-6 {
  width: 48%;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer-p {
  font-size: 16px;
  line-height: 1.5;
}

/* footer end */
/* copyright start */
.copyright {
  font-size: 14px;
  color: #e7ebd6;
  text-align: center;
  width: 100%;
  border-top: 1px solid #e7ebd6;
  margin-trim: 20px;
  display: grid;
}

.div-copyright {
  background-color: #0c2903;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

/* copyright end */
/* backToTopBtn start */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopBtn:hover {
  transform: scale(1.05);
  animation: wave 1.3s ease-in-out infinite;
}

/* backToTopBtn end */
/* ///////////////////////////////footer css ends////////////////////////////////////// */
/* the card animation */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 440px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}

.card:hover #animation-img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card h1 {
  color: #ab1b3f;
  letter-spacing: 1px;
  margin: 0px;
  text-align: center;
}

.card p {
  height: 70%;
  text-align: center;
  font-size: 22px;
}

.card button {
  width: 80%;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ab1b3f;
  color: #fff;
  font-size: 20px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.card button:hover {
  transform: scale(0.95) ;
  transition: all 0.5s ease-in-out;
  background-color: #E7EBD6;
  color: #ab1b3f;
  font-weight: 700;
}
.button-verif-container {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.button-verif-container button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
.button-verif-container button img:hover {
  filter: grayscale(90%) invert(100%) ;
}