body{
    background: #e7ebd6;
    
  }
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik', sans-serif;
  scroll-behavior: smooth;
  
  }
  
  /*navbar start */
  .navbar-nav {
    margin-left: 200px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'rubik', sans-serif;
  }
  
  #logo {
    font-size: 45px;
    font-weight: 700;
    color: #195108;
    text-shadow: 0px 2px 2px #ffffff;
  }
  .nav-item .nav-link {
    font-family: "Rubik", sans-serif;
    font-size: 16 px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ec9baf;
    margin-left: 2rem;
  }
  .nav-item .nav-link:hover {
    background: #ec9baf;
    color: #f2f2f2;
  }
  /*navbar end */
  
  /*partie home start*/
  
  .container-de-titre {
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
  
  #titre {
    color: #c9e2c2;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
  }
  #titre-suggetion {
    color: #ab1b3f;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    padding-top: 40px;
  }
  
  #paragraphe1 {
    font: rubik;
    font-size: 20px;
    font-weight: bold;
    color: #c9e2c2;
  }
  
  .contparagraphe1 {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 90 px;
    text-align: center;
    margin-bottom: 200px;
  }
  
  #myBtn {
    text-decoration: underline;
    font-size: 25px;
    color: antiquewhite;
  }
  #mybtn:hover {
    cursor: pointer;
  }
  
  #more {
    display: none;
  }
  
  /* home end*/
  
  /* Section Packages */
  #container1 {
    margin-top: -300px;
  }
  .container {
    padding-top: 150px;
  }
  .row {
    padding-top: 50px;
  }
  
  .main-txt p {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    font-size: 30px;
  }
  
  .main-txt p span {
    color: #ab1b3f;
  }
  
  .destination-box {
    margin-bottom: 30px;
    box-shadow: 2px 2px 20px rgb(75, 73, 73);
    height: 350px;
    width: 380px;
    overflow: hidden;
    margin: 20px;
    background: rgb(229, 217, 217);
    position: relative;
  }
  
  .destination-box img {
    height: 350px;
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
  }
  
  
  
  .image-caption {
    color: #fff;
      z-index: 1;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 30px;
      visibility: visible;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  /* Section Packages end */
  
  /*partie video start */
  iframe {
    width: 90%;
    height: 70%;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
  }
  #vid h2 {
    text-align: center;
    color: #ab1b3f;
    font: rubik;
    font-weight: bold;
    font-size: 50px;
  }
  /*partie video end*/
  
  /*quick facts + image start */
  #information {
    display: flex;
  }
  
  .left {
    width: 70%;
  }
  .container{
    max-width: 1316px;
  }
  /* .right {
    width: 50%;
  }
   */
  /* partie quick fqcts start */
  .titree {
    color: #ab1b3f;
    font: rubik;
  }
  .titree::after {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: #ab1b3f;
    margin-top: 10px;
  }
  
  .fact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .fact:hover .circle {
    background-color: #ec9baf;
    transform: scale(1.3);
  }
  
  .info {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-weight: 500;
    width: 80%;
  }
  .info span {
    font-weight: bold;
  }
  .col {
    width: 50%;
    padding: 0 30px;
  }
  
  @media (max-width: 767px) {
    .col {
      width: 100%;
      padding: 0;
    }
  }
  /* partie quick facts end*/
  
  /*image*/
  .gray {
    height: 350px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
  }
  
  /* partie quick facts et image end */
  /* ////////////////////////footer css///////////////////////// */
  footer {
    background-color: #0c2903;
    color: #e7ebd6;
    padding: 2px 0;
    margin-top: 50px;
  }
  .bande-container-ex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .container-footer {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .row-bottom {
    display: flex;
    justify-content: space-between;
    width: 670px;
    column-gap: 105px;
  }
  
  .footercol {
    width: 48%;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #footer-p {
    font-size: 16px;
    line-height: 1.5;
  }
  /* footer end */
  /* copyright start */
  .copyright {
    font-size: 14px;
    color: #e7ebd6;
    text-align: center;
    width: 100%;
    border-top: 1px solid #e7ebd6;
    margin-trim: 20px;
    display: grid;
  }
  .div-copyright {
    background-color: #0c2903;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  /* copyright end */
  /* suggestion part */
  .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: #e7ebd6;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    resize: none;
    border-radius: 20px;
  }
  
  .field:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .field:focus {
    border: 2px solid #ab1b3f;
    background-color: #fff;
  }
  ::placeholder {
    text-align: center;
    font-size: 1.5em;
  }
      .image-caption input::placeholder{
          font-size: 20px;
      }
      .image-caption input{
        height: 20%;
    }
  .btn-upload {
    background-color: #ab1b3f;
    border-style: none;
    color: #fff;
    font-size: 18px;
    width: 35%;
    height: 10%;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
  
  }
  
  .btn-upload:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
    background-color: #E7EBD6;
    color: #ab1b3f;
    font-weight: 700;
  }
  .info input::placeholder{
    font-size: 18px;
  }
  .info input{
    background-color: #dcdcdc;
  }
  .info input:hover{
    background-color: #ec9baf;
  }
  /* .right p {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    font-size: 30px;
  }
  
  .right p span {
    color: #ab1b3f;
  } */
#last-information textarea {
    background-color: #dcdcdc;
}
#last-information textarea:focus {
    background-color: #fff;
}
.btn-sub {
    background-color: #3466c2;
    border-style: none;
    color: #fff;
    font-size: 18px;
    width: 35%;
    height: 10%;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
  
  }
  
  .btn-sub:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
    background-color: #E7EBD6;
    color: #3466c2;
    font-weight: 700;
  }
  .row {
    height: 504px;
  }